/* RESET CSS
-------------------------------------------------- */
<!--#include file="./bootstrap.min.css" -->

/* CSS de l'application
-------------------------------------------------- */
<!--#include file="./main.css" -->
<!--#include file="./login.css" -->
<!--#include file="./components/panel.css" -->
<!--#include file="./chosen.min.css" -->

/* CSS jQuery
-------------------------------------------------- */
<!--#include file="./jquery/jquery-ui-1.8.11.custom.css" -->
<!--#include file="./jquery/jquery.tablesorter.css" -->
<!--#include file="./jquery/jquery.multiselect.css" -->
<!--#include file="./jquery/jquery.fullcalendar.css" -->
<!--#include file="./jquery/jquery.fancybox-1.3.4.css" -->
<!--#include file="./jquery/jquery.tipsy.css" -->
<!--#include file="./dropzone/basic.css" -->
<!--#include file="./dropzone/basic.css" -->
<!--#include file="./dropzone/dropzone.css" -->
