/* ===========================================================
 * Filename: main.css
 * Description: Règles générales
 * =========================================================== */

 
/* Body and structure
-------------------------------------------------- */

* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: white;
    margin: 0 auto;  /* zéro ou une autre valeur */
    width: 100%; 
    /*min-width: 1368px;*/
}

tbody {
    font-size: 0.9em;
}

body.login .btn.btn-primary {
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.33);
    border: 1px solid #980b0e;
    background: -moz-linear-gradient(top, #e0242a 0%, #b91e23 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0242a), color-stop(100%, #b91e23));
    background: -webkit-linear-gradient(top, #e0242a 0%, #b91e23 100%);
    background: -o-linear-gradient(top, #e0242a 0%, #b91e23 100%);
    background: -ms-linear-gradient(top, #e0242a 0%, #b91e23 100%);
    background: linear-gradient(to bottom, #e0242a 0%, #b91e23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0242a', endColorstr='#b91e23',GradientType=0 );
}

body.login input[type='submit'] {
    display: block;
    margin: 0 auto;
}

h2{
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h2 small {
    font-size: 15px;
}

/* On règle la navbar en mode "super sleek"
-------------------------------------------------- */

body > .navbar {
    font-size: 12px;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 10px;
}

#research-input input {
    width: 50%;
    font-size: 13px;
}

#research-input a {
    font-size: 12px;
    padding: 4px 4px 4px 4px;
    margin-top: 10px;
    text-transform: initial;
}

#research-input button.btn_search {
    padding: 4px 6px;
}

.navbar-inner .container-fluid {
    width: 100%;
}

.navbar-search {
    margin: 0;
}

.navbar-inner .container-fluid,
.navbar-inner .container-fluid .nav-collapse > ul > li,
.navbar-inner .container-fluid .nav-collapse > ul > li > a {
    line-height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #949494;
    text-shadow: 1px 1px 0 white;
    text-decoration: none;
}

.navbar-inner .container-fluid .nav-collapse > ul > li > a {
    padding: 10px 8px 10px 5px;
}

.navbar-inner .container-fluid .nav-collapse > ul > li > a:hover {
    color: #555;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 18px;
}


/* Style de la page d'erreur
-------------------------------------------------- */

body.error {
    background-color: #ecf0f1;
}

body.error h1 {
    margin-bottom: 50px;
}

body.error .well {
    background-color: #bdc3c7;
}

.actions-dispo {
    width: 100%;
}

#dossiers-ajout-dossier, #ets-ajout-ets {
    width: auto;
    float: right;
}

#ets-filtrer {
    margin: 10px 0;
}

#dossiers-filtrer {
    margin: 0 10px;
}

.floating_right {
    float: right;
}

/* Style du pied de page
-------------------------------------------------- */
footer {
    color: #999999;
    font-size: .9em;
    border-top: 1px dotted #ca0425;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px 20px;
}

footer a {
    color: #404040;
	text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.ui-dialog { z-index: 1000 !important ;}

/* Formulaire
-------------------------------------------------- */

form * {
    box-sizing: content-box;
}

form select {
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

/* Formulaire d'ajout de news */

form#etablissement dt,
form#etablissement dd {
	line-height: 30px;
}

/* Fil d'actualité */

ul#index-newsfeed li .valeur {

	margin-bottom: 3px;
}

ul#index-newsfeed li .date {

	color: #999999;
	white-space: nowrap;
	text-align: right;
	margin-bottom: 0;
}

/* Groupement de communes */
#liste_villes option[disabled] {
    color: #cccccc;
}

/* Onglets horizontaux */

ul#onglets_horizontaux {
    margin: 0;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 1em;
	padding-bottom: .5em;
}

ul#onglets_horizontaux li {

	display: inline;
}

ul#onglets_horizontaux li a {

	/*color: #949494;*/
	color: inherit;
	font-size: 1.2em;
	line-height: 1.05em;
	text-decoration: none;
	padding: 0 9px 0 6px;
	border-right: 1px dotted #818183;
}

ul#onglets_horizontaux li:first-child a {

	padding-left: 0;
}

ul#onglets_horizontaux li a:hover {

	text-decoration: underline;
}

ul#onglets_horizontaux li a {

	position: relative;
	top: -1px;
}

ul#onglets_horizontaux .selection_onglets_hor a {

	font-weight: bold;
	color: inherit;
}

/* Liste d'informations */

.liste_informations li,
.liste_informations dt,
.liste_informations dd {

	padding: 1em 0 1em 0;
	border-top: 1px solid #e9e9e9;
	overflow: hidden;
}

.liste_informations li:last-child {

	border-bottom:  1px solid #e9e9e9;
	margin-bottom: 15px;
}

/* Recherche */
.avis {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
span.avis + span.avis {
    margin-right: 2px;
}
.F { background-color:#8eb571; }
.D{ background-color:#d15c6a; }
.R { background-color: #6779a7; }
.S { background-color:#f9cd57; }

.child{
	display: none;
	margin: -2px 0 0 25px;
	width: 605px;
}

.child > div {
	background-color: rgb(245,245,245);
}

.sous-child {
	display: none;
	margin: -2px 0 0 50px;
	width: 580px;
}

.sous-child > div {
	background-color: #fafafa;
}

/* Recherche de dossier & ets */

ul.recherche_liste {
    list-style: none;
    margin-left: 0;
}

ul.recherche_liste li {
    background-color: #ebebeb;
    padding: 6px;
}

ul.recherche_liste li.slide + li.ui-helper-hidden {
    padding: 0;
    margin-left: 50px;
    background-color: white;
}

ul.recherche_liste li:hover {
    background-color: #f5f5f5;
    /*cursor: pointer;*/
}

ul.recherche_liste li.slide:hover {
    cursor: pointer;
}

ul.no_slide li.slide:hover {
    cursor: pointer;
}

ul.no_slide li.slide .ui-icon {
    display: none;
}

ul.recherche_liste li .avis {
    float: right
}

ul.recherche_liste li + li {
    margin-top: 3px;
}

ul.recherche_liste .active .ui-icon {
    background-position: -64px -16px;
}

a.thumbnail + a.thumbnail {
    margin-left: 5px;
}

/* 8.Etablissements */
#ligne_informations {

	margin-bottom: 15px;
}

#ligne_informations p, #ligne_informations div {

	display: inline;
}

#ligne_informations #libelle {
	font-size: 1.7em;
	position: relative;
	top: 2px;
	font-weight: normal;
	display: inline;
	line-height: 0.8em;
}

#tabs h4,
#dossierInfos h4,
#dossier_Pdroite h4,
h4.h4_subtitle {
	border-top: 1px solid #e9e9e9;
	background-color: #eaeaea;
	text-shadow: 1px 1px 0 white;
	padding: .3em;
	margin: 1em 0 1em 0;
}

.nav-tabs > li.tabs-right {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

.nav-tabs > li.tabs-right > a {
	margin-right: 0;
}

/* Contacts */
.fiche_contact {
	border: 1px dotted #818183;
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
}
.fiche_contact_nom {
    font-family: Verdana;
    color: #ca0425;
    font-size: 10px;
    margin: 0 0 6px 0;
}
.fiche_contact_fonction {

    font-family: Verdana;
    color: #858585;
    font-size: 10px;
    font-style: italic;
    margin: 0 0 20px 0;
}
.fiche_contact li {
    width:100%;
    border-bottom:1px solid #e9e9e9;
    line-height:18px;
    color:#858585;
   }
.fiche_contact li:last-child {
    margin:0 0 15px 0;
}
.fiche_contact  .valeur{
    display:block;
    float:right;
}
.fiche_edit img {
    float: right;
}
.fiche_delete {
    float: right;
    color:#9b9b9b;
    margin: 0 0 0 3px;
}
.fiche_contact_nom a {
    color:#9b9b9b;
    text-decoration: none;
}

/* Dialog sans barre de titre */
.noTitleStuff .ui-dialog-titlebar { display:none }

/* Auto complétion  */
.ac_results{
    padding:0px;
    border:1px solid black;
    background-color:white;
    overflow:hidden;
    z-index:99999
}

.ac_results ul{
    width:100%;
    list-style-position:outside;
    list-style:none;
    padding:0;
    margin:0
}

.ac_results li{
    margin:0px;
    padding:2px 5px;
    cursor:pointer;
    display:block;
    font:menu;
    font-size:12px;
    line-height:16px;
    overflow:hidden
}

.ac_odd{
    background-color:#eee
}

.ac_over{
    background-color:#0A246A;
    color:white
}

.qtip-wrapper{
    z-index:10
}

.timeEntry_control{
    vertical-align:middle;
    margin-left:2px
}

* html .timeEntry_control{
    margin-top:-4px
}

/* Formulaire spécial : box */

.box {
	border: 1px solid #d5d5d5;
	background-color: #e6e6e6;
	padding: 4px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

/* Style du tableau des périodicités */

table.periodicite input {
	width: 30px;
}
table.periodicite:first-child {
	margin-left: 0;
}

input.date {

	background: url("images/calendar.gif") left no-repeat;
	padding-left: 16px;
	width: 83px;
}

input.date:hover {

	cursor: pointer;
}

#save_historique_date span.ui-button-text {

	padding: 5px 2px 2px 0;
}

#save_historique_date input {

	font-size: 0.8em;
	height: 20px;
	width: 90px;
	background-color: white;
}

/* Gestion des commissions */
ul#gestionCommissionMenu {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 10px;
}

ul#gestionCommissionMenu li {
	
	display: inline-block;
	padding: 20px;
	margin: 0;
}

#content_commissions table > tbody > tr {
    height: 300px;
    overflow-y:none;
}

#content_commissions td {
    min-width: 150px;
}

#content_commissions td div.inner_scroll {
    height: 250px;
    overflow-y: auto;
}

ul#gestionCommissionMenu li.active {
	
	background-color: #EEEEEE;
}

.ui-tabs-panel, .ui-accordion, .ui-accordion-content {
	padding: 0;
}

.listePrescriptions li:hover {
	cursor: row-resize;
}

.dossierODJ:hover{
	cursor: row-resize;
}

.eventExtODJ:hover{
	cursor: move;
}

.fc-event-bg:hover{
	cursor:move;
}

.confirm-modal-hide {
	display: none;
}

.notification{
    padding: 2px 2px 2px 2px;
    background-color: #f89406;
}
.notification a{
color: #FFF;
text-decoration: none;
}

.pasnotification{
    padding: 2px 2px 2px 2px;
    background-color: #A9A9A9;
}
.pasnotification a{
    color: #FFF;
    text-decoration: none;
}

.grey-icn-plus {
    opacity:0.45;
    filter:alpha(opacity=45);
}

.grey-icn-plus:hover {
    opacity:1;
    filter:alpha(opacity=100);
}
