/*

	sprite.css

*/

i.sprite {

	background-image: url('images/sprite.png');
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.sprite-accept{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-add{ background-position: 0 -18px; width: 16px; height: 16px; } 
.sprite-application{ background-position: 0 -36px; width: 16px; height: 16px; } 
.sprite-application_edit{ background-position: 0 -54px; width: 16px; height: 16px; } 
.sprite-application_error{ background-position: 0 -72px; width: 16px; height: 16px; } 
.sprite-application_get{ background-position: 0 -90px; width: 16px; height: 16px; } 
.sprite-application_go{ background-position: 0 -108px; width: 16px; height: 16px; } 
.sprite-application_put{ background-position: 0 -126px; width: 16px; height: 16px; } 
.sprite-application_view_columns{ background-position: 0 -144px; width: 16px; height: 16px; } 
.sprite-application_view_gallery{ background-position: 0 -162px; width: 16px; height: 16px; } 
.sprite-arrow_branch{ background-position: 0 -180px; width: 16px; height: 16px; } 
.sprite-arrow_divide{ background-position: 0 -198px; width: 16px; height: 16px; } 
.sprite-arrow_down{ background-position: 0 -216px; width: 16px; height: 16px; } 
.sprite-arrow_in{ background-position: 0 -234px; width: 16px; height: 16px; } 
.sprite-arrow_inout{ background-position: 0 -252px; width: 16px; height: 16px; } 
.sprite-arrow_join{ background-position: 0 -270px; width: 16px; height: 16px; } 
.sprite-arrow_left{ background-position: 0 -288px; width: 16px; height: 16px; } 
.sprite-arrow_merge{ background-position: 0 -306px; width: 16px; height: 16px; } 
.sprite-arrow_out{ background-position: 0 -324px; width: 16px; height: 16px; } 
.sprite-arrow_redo{ background-position: 0 -342px; width: 16px; height: 16px; } 
.sprite-arrow_refresh{ background-position: 0 -360px; width: 16px; height: 16px; } 
.sprite-arrow_refresh_small{ background-position: 0 -378px; width: 16px; height: 16px; } 
.sprite-arrow_right{ background-position: 0 -396px; width: 16px; height: 16px; } 
.sprite-arrow_rotate_anticlockwise{ background-position: 0 -414px; width: 16px; height: 16px; } 
.sprite-arrow_rotate_clockwise{ background-position: 0 -432px; width: 16px; height: 16px; } 
.sprite-arrow_switch{ background-position: 0 -450px; width: 16px; height: 16px; } 
.sprite-arrow_turn_left{ background-position: 0 -468px; width: 16px; height: 16px; } 
.sprite-arrow_turn_right{ background-position: 0 -486px; width: 16px; height: 16px; } 
.sprite-arrow_undo{ background-position: 0 -504px; width: 16px; height: 16px; } 
.sprite-arrow_up{ background-position: 0 -522px; width: 16px; height: 16px; } 
.sprite-asterisk_orange{ background-position: 0 -540px; width: 16px; height: 16px; } 
.sprite-asterisk_yellow{ background-position: 0 -558px; width: 16px; height: 16px; } 
.sprite-attach{ background-position: 0 -576px; width: 16px; height: 16px; } 
.sprite-bell{ background-position: 0 -594px; width: 16px; height: 16px; } 
.sprite-bell_add{ background-position: 0 -612px; width: 16px; height: 16px; } 
.sprite-bell_delete{ background-position: 0 -630px; width: 16px; height: 16px; } 
.sprite-bell_error{ background-position: 0 -648px; width: 16px; height: 16px; } 
.sprite-bell_go{ background-position: 0 -666px; width: 16px; height: 16px; } 
.sprite-bell_link{ background-position: 0 -684px; width: 16px; height: 16px; } 
.sprite-bin{ background-position: 0 -702px; width: 16px; height: 16px; } 
.sprite-bin_closed{ background-position: 0 -720px; width: 16px; height: 16px; } 
.sprite-bin_empty{ background-position: 0 -738px; width: 16px; height: 16px; } 
.sprite-book{ background-position: 0 -756px; width: 16px; height: 16px; } 
.sprite-book_add{ background-position: 0 -774px; width: 16px; height: 16px; } 
.sprite-book_addresses{ background-position: 0 -792px; width: 16px; height: 16px; } 
.sprite-book_delete{ background-position: 0 -810px; width: 16px; height: 16px; } 
.sprite-book_edit{ background-position: 0 -828px; width: 16px; height: 16px; } 
.sprite-book_error{ background-position: 0 -846px; width: 16px; height: 16px; } 
.sprite-book_go{ background-position: 0 -864px; width: 16px; height: 16px; } 
.sprite-book_key{ background-position: 0 -882px; width: 16px; height: 16px; } 
.sprite-book_link{ background-position: 0 -900px; width: 16px; height: 16px; } 
.sprite-book_next{ background-position: 0 -918px; width: 16px; height: 16px; } 
.sprite-book_open{ background-position: 0 -936px; width: 16px; height: 16px; } 
.sprite-book_previous{ background-position: 0 -954px; width: 16px; height: 16px; } 
.sprite-box{ background-position: 0 -972px; width: 16px; height: 16px; } 
.sprite-brick{ background-position: 0 -990px; width: 16px; height: 16px; } 
.sprite-brick_add{ background-position: 0 -1008px; width: 16px; height: 16px; } 
.sprite-brick_delete{ background-position: 0 -1026px; width: 16px; height: 16px; } 
.sprite-brick_edit{ background-position: 0 -1044px; width: 16px; height: 16px; } 
.sprite-brick_error{ background-position: 0 -1062px; width: 16px; height: 16px; } 
.sprite-brick_go{ background-position: 0 -1080px; width: 16px; height: 16px; } 
.sprite-brick_link{ background-position: 0 -1098px; width: 16px; height: 16px; } 
.sprite-bricks{ background-position: 0 -1116px; width: 16px; height: 16px; } 
.sprite-briefcase{ background-position: 0 -1134px; width: 16px; height: 16px; } 
.sprite-bug{ background-position: 0 -1152px; width: 16px; height: 16px; } 
.sprite-bug_add{ background-position: 0 -1170px; width: 16px; height: 16px; } 
.sprite-bug_delete{ background-position: 0 -1188px; width: 16px; height: 16px; } 
.sprite-bug_edit{ background-position: 0 -1206px; width: 16px; height: 16px; } 
.sprite-bug_error{ background-position: 0 -1224px; width: 16px; height: 16px; } 
.sprite-bug_go{ background-position: 0 -1242px; width: 16px; height: 16px; } 
.sprite-bug_link{ background-position: 0 -1260px; width: 16px; height: 16px; } 
.sprite-building{ background-position: 0 -1278px; width: 16px; height: 16px; } 
.sprite-building_add{ background-position: 0 -1296px; width: 16px; height: 16px; } 
.sprite-building_delete{ background-position: 0 -1314px; width: 16px; height: 16px; } 
.sprite-building_edit{ background-position: 0 -1332px; width: 16px; height: 16px; } 
.sprite-building_error{ background-position: 0 -1350px; width: 16px; height: 16px; } 
.sprite-building_go{ background-position: 0 -1368px; width: 16px; height: 16px; } 
.sprite-building_key{ background-position: 0 -1386px; width: 16px; height: 16px; } 
.sprite-building_link{ background-position: 0 -1404px; width: 16px; height: 16px; } 
.sprite-bullet_add{ background-position: 0 -1422px; width: 16px; height: 16px; } 
.sprite-bullet_arrow_bottom{ background-position: 0 -1440px; width: 16px; height: 16px; } 
.sprite-bullet_arrow_down{ background-position: 0 -1458px; width: 16px; height: 16px; } 
.sprite-bullet_arrow_top{ background-position: 0 -1476px; width: 16px; height: 16px; } 
.sprite-bullet_arrow_up{ background-position: 0 -1494px; width: 16px; height: 16px; } 
.sprite-bullet_black{ background-position: 0 -1512px; width: 16px; height: 16px; } 
.sprite-bullet_blue{ background-position: 0 -1530px; width: 16px; height: 16px; } 
.sprite-bullet_delete{ background-position: 0 -1548px; width: 16px; height: 16px; } 
.sprite-bullet_disk{ background-position: 0 -1566px; width: 16px; height: 16px; } 
.sprite-bullet_error{ background-position: 0 -1584px; width: 16px; height: 16px; } 
.sprite-bullet_feed{ background-position: 0 -1602px; width: 16px; height: 16px; } 
.sprite-bullet_go{ background-position: 0 -1620px; width: 16px; height: 16px; } 
.sprite-bullet_green{ background-position: 0 -1638px; width: 16px; height: 16px; } 
.sprite-bullet_key{ background-position: 0 -1656px; width: 16px; height: 16px; } 
.sprite-bullet_orange{ background-position: 0 -1674px; width: 16px; height: 16px; } 
.sprite-bullet_picture{ background-position: 0 -1692px; width: 16px; height: 16px; } 
.sprite-bullet_star{ background-position: 0 -1710px; width: 16px; height: 16px; } 
.sprite-bullet_toggle_minus{ background-position: 0 -1728px; width: 16px; height: 16px; } 
.sprite-bullet_toggle_plus{ background-position: 0 -1746px; width: 16px; height: 16px; } 
.sprite-bullet_white{ background-position: 0 -1764px; width: 16px; height: 16px; } 
.sprite-bullet_wrench{ background-position: 0 -1782px; width: 16px; height: 16px; } 
.sprite-bullet_yellow{ background-position: 0 -1800px; width: 16px; height: 16px; } 
.sprite-calculator{ background-position: 0 -1818px; width: 16px; height: 16px; } 
.sprite-calendar{ background-position: 0 -1836px; width: 16px; height: 16px; } 
.sprite-calendar_add{ background-position: 0 -1854px; width: 16px; height: 16px; } 
.sprite-calendar_delete{ background-position: 0 -1872px; width: 16px; height: 16px; } 
.sprite-calendar_edit{ background-position: 0 -1890px; width: 16px; height: 16px; } 
.sprite-calendar_link{ background-position: 0 -1908px; width: 16px; height: 16px; } 
.sprite-camera{ background-position: 0 -1926px; width: 16px; height: 16px; } 
.sprite-camera_add{ background-position: 0 -1944px; width: 16px; height: 16px; } 
.sprite-camera_delete{ background-position: 0 -1962px; width: 16px; height: 16px; } 
.sprite-camera_edit{ background-position: 0 -1980px; width: 16px; height: 16px; } 
.sprite-camera_error{ background-position: -18px 0; width: 16px; height: 16px; } 
.sprite-camera_go{ background-position: -18px -18px; width: 16px; height: 16px; } 
.sprite-camera_link{ background-position: -18px -36px; width: 16px; height: 16px; } 
.sprite-camera_small{ background-position: -18px -54px; width: 16px; height: 16px; } 
.sprite-cancel{ background-position: -18px -72px; width: 16px; height: 16px; } 
.sprite-car{ background-position: -18px -90px; width: 16px; height: 16px; } 
.sprite-car_add{ background-position: -18px -108px; width: 16px; height: 16px; } 
.sprite-car_delete{ background-position: -18px -126px; width: 16px; height: 16px; } 
.sprite-cd{ background-position: -18px -144px; width: 16px; height: 16px; } 
.sprite-cd_add{ background-position: -18px -162px; width: 16px; height: 16px; } 
.sprite-cd_burn{ background-position: -18px -180px; width: 16px; height: 16px; } 
.sprite-cd_delete{ background-position: -18px -198px; width: 16px; height: 16px; } 
.sprite-cd_edit{ background-position: -18px -216px; width: 16px; height: 16px; } 
.sprite-cd_eject{ background-position: -18px -234px; width: 16px; height: 16px; } 
.sprite-cd_go{ background-position: -18px -252px; width: 16px; height: 16px; } 
.sprite-chart_bar{ background-position: -18px -270px; width: 16px; height: 16px; } 
.sprite-chart_bar_add{ background-position: -18px -288px; width: 16px; height: 16px; } 
.sprite-chart_bar_delete{ background-position: -18px -306px; width: 16px; height: 16px; } 
.sprite-chart_bar_edit{ background-position: -18px -324px; width: 16px; height: 16px; } 
.sprite-chart_bar_error{ background-position: -18px -342px; width: 16px; height: 16px; } 
.sprite-chart_bar_link{ background-position: -18px -360px; width: 16px; height: 16px; } 
.sprite-chart_curve{ background-position: -18px -378px; width: 16px; height: 16px; } 
.sprite-chart_curve_add{ background-position: -18px -396px; width: 16px; height: 16px; } 
.sprite-chart_curve_delete{ background-position: -18px -414px; width: 16px; height: 16px; } 
.sprite-chart_curve_edit{ background-position: -18px -432px; width: 16px; height: 16px; } 
.sprite-chart_curve_error{ background-position: -18px -450px; width: 16px; height: 16px; } 
.sprite-chart_curve_go{ background-position: -18px -468px; width: 16px; height: 16px; } 
.sprite-chart_curve_link{ background-position: -18px -486px; width: 16px; height: 16px; } 
.sprite-chart_line{ background-position: -18px -504px; width: 16px; height: 16px; } 
.sprite-chart_line_add{ background-position: -18px -522px; width: 16px; height: 16px; } 
.sprite-chart_line_delete{ background-position: -18px -540px; width: 16px; height: 16px; } 
.sprite-chart_line_edit{ background-position: -18px -558px; width: 16px; height: 16px; } 
.sprite-chart_line_error{ background-position: -18px -576px; width: 16px; height: 16px; } 
.sprite-chart_line_link{ background-position: -18px -594px; width: 16px; height: 16px; } 
.sprite-chart_organisation{ background-position: -18px -612px; width: 16px; height: 16px; } 
.sprite-chart_organisation_add{ background-position: -18px -630px; width: 16px; height: 16px; } 
.sprite-chart_organisation_delete{ background-position: -18px -648px; width: 16px; height: 16px; } 
.sprite-chart_pie{ background-position: -18px -666px; width: 16px; height: 16px; } 
.sprite-chart_pie_add{ background-position: -18px -684px; width: 16px; height: 16px; } 
.sprite-chart_pie_delete{ background-position: -18px -702px; width: 16px; height: 16px; } 
.sprite-chart_pie_edit{ background-position: -18px -720px; width: 16px; height: 16px; } 
.sprite-chart_pie_error{ background-position: -18px -738px; width: 16px; height: 16px; } 
.sprite-chart_pie_link{ background-position: -18px -756px; width: 16px; height: 16px; } 
.sprite-clock{ background-position: -18px -774px; width: 16px; height: 16px; } 
.sprite-clock_add{ background-position: -18px -792px; width: 16px; height: 16px; } 
.sprite-clock_delete{ background-position: -18px -810px; width: 16px; height: 16px; } 
.sprite-clock_edit{ background-position: -18px -828px; width: 16px; height: 16px; } 
.sprite-clock_error{ background-position: -18px -846px; width: 16px; height: 16px; } 
.sprite-clock_go{ background-position: -18px -864px; width: 16px; height: 16px; } 
.sprite-clock_link{ background-position: -18px -882px; width: 16px; height: 16px; } 
.sprite-clock_pause{ background-position: -18px -900px; width: 16px; height: 16px; } 
.sprite-clock_play{ background-position: -18px -918px; width: 16px; height: 16px; } 
.sprite-clock_red{ background-position: -18px -936px; width: 16px; height: 16px; } 
.sprite-clock_stop{ background-position: -18px -954px; width: 16px; height: 16px; } 
.sprite-cog{ background-position: -18px -972px; width: 16px; height: 16px; } 
.sprite-cog_add{ background-position: -18px -990px; width: 16px; height: 16px; } 
.sprite-cog_delete{ background-position: -18px -1008px; width: 16px; height: 16px; } 
.sprite-cog_edit{ background-position: -18px -1026px; width: 16px; height: 16px; } 
.sprite-cog_error{ background-position: -18px -1044px; width: 16px; height: 16px; } 
.sprite-cog_go{ background-position: -18px -1062px; width: 16px; height: 16px; } 
.sprite-coins{ background-position: -18px -1080px; width: 16px; height: 16px; } 
.sprite-comment{ background-position: -18px -1098px; width: 16px; height: 16px; } 
.sprite-comment_add{ background-position: -18px -1116px; width: 16px; height: 16px; } 
.sprite-comment_delete{ background-position: -18px -1134px; width: 16px; height: 16px; } 
.sprite-comment_edit{ background-position: -18px -1152px; width: 16px; height: 16px; } 
.sprite-comments{ background-position: -18px -1170px; width: 16px; height: 16px; } 
.sprite-comments_add{ background-position: -18px -1188px; width: 16px; height: 16px; } 
.sprite-comments_delete{ background-position: -18px -1206px; width: 16px; height: 16px; } 
.sprite-compress{ background-position: -18px -1224px; width: 16px; height: 16px; } 
.sprite-computer{ background-position: -18px -1242px; width: 16px; height: 16px; } 
.sprite-computer_add{ background-position: -18px -1260px; width: 16px; height: 16px; } 
.sprite-computer_delete{ background-position: -18px -1278px; width: 16px; height: 16px; } 
.sprite-computer_edit{ background-position: -18px -1296px; width: 16px; height: 16px; } 
.sprite-computer_error{ background-position: -18px -1314px; width: 16px; height: 16px; } 
.sprite-computer_go{ background-position: -18px -1332px; width: 16px; height: 16px; } 
.sprite-computer_key{ background-position: -18px -1350px; width: 16px; height: 16px; } 
.sprite-computer_link{ background-position: -18px -1368px; width: 16px; height: 16px; } 
.sprite-connect{ background-position: -18px -1386px; width: 16px; height: 16px; } 
.sprite-contrast{ background-position: -18px -1404px; width: 16px; height: 16px; } 
.sprite-cross{ background-position: -18px -1422px; width: 16px; height: 16px; } 
.sprite-cup{ background-position: -18px -1440px; width: 16px; height: 16px; } 
.sprite-cut{ background-position: -18px -1458px; width: 16px; height: 16px; } 
.sprite-database{ background-position: -18px -1476px; width: 16px; height: 16px; } 
.sprite-database_add{ background-position: -18px -1494px; width: 16px; height: 16px; } 
.sprite-database_connect{ background-position: -18px -1512px; width: 16px; height: 16px; } 
.sprite-database_delete{ background-position: -18px -1530px; width: 16px; height: 16px; } 
.sprite-database_edit{ background-position: -18px -1548px; width: 16px; height: 16px; } 
.sprite-database_error{ background-position: -18px -1566px; width: 16px; height: 16px; } 
.sprite-database_gear{ background-position: -18px -1584px; width: 16px; height: 16px; } 
.sprite-database_go{ background-position: -18px -1602px; width: 16px; height: 16px; } 
.sprite-database_link{ background-position: -18px -1620px; width: 16px; height: 16px; } 
.sprite-database_refresh{ background-position: -18px -1638px; width: 16px; height: 16px; } 
.sprite-database_save{ background-position: -18px -1656px; width: 16px; height: 16px; } 
.sprite-database_table{ background-position: -18px -1674px; width: 16px; height: 16px; } 
.sprite-date{ background-position: -18px -1692px; width: 16px; height: 16px; } 
.sprite-date_add{ background-position: -18px -1710px; width: 16px; height: 16px; } 
.sprite-date_delete{ background-position: -18px -1728px; width: 16px; height: 16px; } 
.sprite-date_edit{ background-position: -18px -1746px; width: 16px; height: 16px; } 
.sprite-date_error{ background-position: -18px -1764px; width: 16px; height: 16px; } 
.sprite-date_go{ background-position: -18px -1782px; width: 16px; height: 16px; } 
.sprite-date_link{ background-position: -18px -1800px; width: 16px; height: 16px; } 
.sprite-date_magnify{ background-position: -18px -1818px; width: 16px; height: 16px; } 
.sprite-date_next{ background-position: -18px -1836px; width: 16px; height: 16px; } 
.sprite-date_previous{ background-position: -18px -1854px; width: 16px; height: 16px; } 
.sprite-delete{ background-position: -18px -1872px; width: 16px; height: 16px; } 
.sprite-disconnect{ background-position: -18px -1890px; width: 16px; height: 16px; } 
.sprite-disk{ background-position: -18px -1908px; width: 16px; height: 16px; } 
.sprite-disk_multiple{ background-position: -18px -1926px; width: 16px; height: 16px; } 
.sprite-door{ background-position: -18px -1944px; width: 16px; height: 16px; } 
.sprite-door_in{ background-position: -18px -1962px; width: 16px; height: 16px; } 
.sprite-door_open{ background-position: -18px -1980px; width: 16px; height: 16px; } 
.sprite-door_out{ background-position: -36px 0; width: 16px; height: 16px; } 
.sprite-drive{ background-position: -36px -18px; width: 16px; height: 16px; } 
.sprite-drive_add{ background-position: -36px -36px; width: 16px; height: 16px; } 
.sprite-drive_burn{ background-position: -36px -54px; width: 16px; height: 16px; } 
.sprite-drive_cd{ background-position: -36px -72px; width: 16px; height: 16px; } 
.sprite-drive_cd_empty{ background-position: -36px -90px; width: 16px; height: 16px; } 
.sprite-drive_delete{ background-position: -36px -108px; width: 16px; height: 16px; } 
.sprite-drive_disk{ background-position: -36px -126px; width: 16px; height: 16px; } 
.sprite-drive_edit{ background-position: -36px -144px; width: 16px; height: 16px; } 
.sprite-drive_error{ background-position: -36px -162px; width: 16px; height: 16px; } 
.sprite-drive_go{ background-position: -36px -180px; width: 16px; height: 16px; } 
.sprite-drive_key{ background-position: -36px -198px; width: 16px; height: 16px; } 
.sprite-drive_link{ background-position: -36px -216px; width: 16px; height: 16px; } 
.sprite-drive_magnify{ background-position: -36px -234px; width: 16px; height: 16px; } 
.sprite-drive_network{ background-position: -36px -252px; width: 16px; height: 16px; } 
.sprite-drive_rename{ background-position: -36px -270px; width: 16px; height: 16px; } 
.sprite-drive_user{ background-position: -36px -288px; width: 16px; height: 16px; } 
.sprite-drive_web{ background-position: -36px -306px; width: 16px; height: 16px; } 
.sprite-email{ background-position: -36px -324px; width: 16px; height: 16px; } 
.sprite-email_add{ background-position: -36px -342px; width: 16px; height: 16px; } 
.sprite-email_attach{ background-position: -36px -360px; width: 16px; height: 16px; } 
.sprite-email_delete{ background-position: -36px -378px; width: 16px; height: 16px; } 
.sprite-email_edit{ background-position: -36px -396px; width: 16px; height: 16px; } 
.sprite-email_error{ background-position: -36px -414px; width: 16px; height: 16px; } 
.sprite-email_go{ background-position: -36px -432px; width: 16px; height: 16px; } 
.sprite-email_link{ background-position: -36px -450px; width: 16px; height: 16px; } 
.sprite-email_open{ background-position: -36px -468px; width: 16px; height: 16px; } 
.sprite-email_open_image{ background-position: -36px -486px; width: 16px; height: 16px; } 
.sprite-emoticon_evilgrin{ background-position: -36px -504px; width: 16px; height: 16px; } 
.sprite-emoticon_grin{ background-position: -36px -522px; width: 16px; height: 16px; } 
.sprite-emoticon_happy{ background-position: -36px -540px; width: 16px; height: 16px; } 
.sprite-emoticon_smile{ background-position: -36px -558px; width: 16px; height: 16px; } 
.sprite-emoticon_surprised{ background-position: -36px -576px; width: 16px; height: 16px; } 
.sprite-emoticon_tongue{ background-position: -36px -594px; width: 16px; height: 16px; } 
.sprite-emoticon_unhappy{ background-position: -36px -612px; width: 16px; height: 16px; } 
.sprite-emoticon_waii{ background-position: -36px -630px; width: 16px; height: 16px; } 
.sprite-emoticon_wink{ background-position: -36px -648px; width: 16px; height: 16px; } 
.sprite-error{ background-position: -36px -666px; width: 16px; height: 16px; } 
.sprite-error_add{ background-position: -36px -684px; width: 16px; height: 16px; } 
.sprite-error_delete{ background-position: -36px -702px; width: 16px; height: 16px; } 
.sprite-error_go{ background-position: -36px -720px; width: 16px; height: 16px; } 
.sprite-exclamation{ background-position: -36px -738px; width: 16px; height: 16px; } 
.sprite-eye{ background-position: -36px -756px; width: 16px; height: 16px; } 
.sprite-female{ background-position: -36px -774px; width: 16px; height: 16px; } 
.sprite-film{ background-position: -36px -792px; width: 16px; height: 16px; } 
.sprite-film_add{ background-position: -36px -810px; width: 16px; height: 16px; } 
.sprite-film_delete{ background-position: -36px -828px; width: 16px; height: 16px; } 
.sprite-film_edit{ background-position: -36px -846px; width: 16px; height: 16px; } 
.sprite-film_error{ background-position: -36px -864px; width: 16px; height: 16px; } 
.sprite-film_go{ background-position: -36px -882px; width: 16px; height: 16px; } 
.sprite-film_key{ background-position: -36px -900px; width: 16px; height: 16px; } 
.sprite-film_link{ background-position: -36px -918px; width: 16px; height: 16px; } 
.sprite-film_save{ background-position: -36px -936px; width: 16px; height: 16px; } 
.sprite-find{ background-position: -36px -954px; width: 16px; height: 16px; } 
.sprite-flag_blue{ background-position: -36px -972px; width: 16px; height: 16px; } 
.sprite-flag_green{ background-position: -36px -990px; width: 16px; height: 16px; } 
.sprite-flag_orange{ background-position: -36px -1008px; width: 16px; height: 16px; } 
.sprite-flag_pink{ background-position: -36px -1026px; width: 16px; height: 16px; } 
.sprite-flag_purple{ background-position: -36px -1044px; width: 16px; height: 16px; } 
.sprite-flag_red{ background-position: -36px -1062px; width: 16px; height: 16px; } 
.sprite-flag_yellow{ background-position: -36px -1080px; width: 16px; height: 16px; } 
.sprite-folder{ background-position: -36px -1098px; width: 16px; height: 16px; } 
.sprite-folder_add{ background-position: -36px -1116px; width: 16px; height: 16px; } 
.sprite-folder_bell{ background-position: -36px -1134px; width: 16px; height: 16px; } 
.sprite-folder_brick{ background-position: -36px -1152px; width: 16px; height: 16px; } 
.sprite-folder_bug{ background-position: -36px -1170px; width: 16px; height: 16px; } 
.sprite-folder_camera{ background-position: -36px -1188px; width: 16px; height: 16px; } 
.sprite-folder_database{ background-position: -36px -1206px; width: 16px; height: 16px; } 
.sprite-folder_delete{ background-position: -36px -1224px; width: 16px; height: 16px; } 
.sprite-folder_edit{ background-position: -36px -1242px; width: 16px; height: 16px; } 
.sprite-folder_error{ background-position: -36px -1260px; width: 16px; height: 16px; } 
.sprite-folder_explore{ background-position: -36px -1278px; width: 16px; height: 16px; } 
.sprite-folder_feed{ background-position: -36px -1296px; width: 16px; height: 16px; } 
.sprite-folder_find{ background-position: -36px -1314px; width: 16px; height: 16px; } 
.sprite-folder_go{ background-position: -36px -1332px; width: 16px; height: 16px; } 
.sprite-folder_heart{ background-position: -36px -1350px; width: 16px; height: 16px; } 
.sprite-folder_image{ background-position: -36px -1368px; width: 16px; height: 16px; } 
.sprite-folder_key{ background-position: -36px -1386px; width: 16px; height: 16px; } 
.sprite-folder_lightbulb{ background-position: -36px -1404px; width: 16px; height: 16px; } 
.sprite-folder_link{ background-position: -36px -1422px; width: 16px; height: 16px; } 
.sprite-folder_magnify{ background-position: -36px -1440px; width: 16px; height: 16px; } 
.sprite-folder_page{ background-position: -36px -1458px; width: 16px; height: 16px; } 
.sprite-folder_page_white{ background-position: -36px -1476px; width: 16px; height: 16px; } 
.sprite-folder_palette{ background-position: -36px -1494px; width: 16px; height: 16px; } 
.sprite-folder_picture{ background-position: -36px -1512px; width: 16px; height: 16px; } 
.sprite-folder_star{ background-position: -36px -1530px; width: 16px; height: 16px; } 
.sprite-folder_table{ background-position: -36px -1548px; width: 16px; height: 16px; } 
.sprite-folder_user{ background-position: -36px -1566px; width: 16px; height: 16px; } 
.sprite-folder_wrench{ background-position: -36px -1584px; width: 16px; height: 16px; } 
.sprite-group{ background-position: -36px -1602px; width: 16px; height: 16px; } 
.sprite-group_add{ background-position: -36px -1620px; width: 16px; height: 16px; } 
.sprite-group_delete{ background-position: -36px -1638px; width: 16px; height: 16px; } 
.sprite-group_edit{ background-position: -36px -1656px; width: 16px; height: 16px; } 
.sprite-group_error{ background-position: -36px -1674px; width: 16px; height: 16px; } 
.sprite-group_gear{ background-position: -36px -1692px; width: 16px; height: 16px; } 
.sprite-group_go{ background-position: -36px -1710px; width: 16px; height: 16px; } 
.sprite-group_key{ background-position: -36px -1728px; width: 16px; height: 16px; } 
.sprite-group_link{ background-position: -36px -1746px; width: 16px; height: 16px; } 
.sprite-heart{ background-position: -36px -1764px; width: 16px; height: 16px; } 
.sprite-help{ background-position: -36px -1782px; width: 16px; height: 16px; } 
.sprite-hourglass{ background-position: -36px -1800px; width: 16px; height: 16px; } 
.sprite-hourglass_add{ background-position: -36px -1818px; width: 16px; height: 16px; } 
.sprite-hourglass_delete{ background-position: -36px -1836px; width: 16px; height: 16px; } 
.sprite-hourglass_go{ background-position: -36px -1854px; width: 16px; height: 16px; } 
.sprite-hourglass_link{ background-position: -36px -1872px; width: 16px; height: 16px; } 
.sprite-house{ background-position: -36px -1890px; width: 16px; height: 16px; } 
.sprite-house_go{ background-position: -36px -1908px; width: 16px; height: 16px; } 
.sprite-house_link{ background-position: -36px -1926px; width: 16px; height: 16px; } 
.sprite-image{ background-position: -36px -1944px; width: 16px; height: 16px; } 
.sprite-image_add{ background-position: -36px -1962px; width: 16px; height: 16px; } 
.sprite-image_delete{ background-position: -36px -1980px; width: 16px; height: 16px; } 
.sprite-image_edit{ background-position: -54px 0; width: 16px; height: 16px; } 
.sprite-image_link{ background-position: -54px -18px; width: 16px; height: 16px; } 
.sprite-images{ background-position: -54px -36px; width: 16px; height: 16px; } 
.sprite-information{ background-position: -54px -54px; width: 16px; height: 16px; } 
.sprite-key{ background-position: -54px -72px; width: 16px; height: 16px; } 
.sprite-key_add{ background-position: -54px -90px; width: 16px; height: 16px; } 
.sprite-key_delete{ background-position: -54px -108px; width: 16px; height: 16px; } 
.sprite-key_go{ background-position: -54px -126px; width: 16px; height: 16px; } 
.sprite-keyboard{ background-position: -54px -144px; width: 16px; height: 16px; } 
.sprite-keyboard_add{ background-position: -54px -162px; width: 16px; height: 16px; } 
.sprite-keyboard_delete{ background-position: -54px -180px; width: 16px; height: 16px; } 
.sprite-keyboard_magnify{ background-position: -54px -198px; width: 16px; height: 16px; } 
.sprite-layers{ background-position: -54px -216px; width: 16px; height: 16px; } 
.sprite-layout{ background-position: -54px -234px; width: 16px; height: 16px; } 
.sprite-layout_add{ background-position: -54px -252px; width: 16px; height: 16px; } 
.sprite-layout_content{ background-position: -54px -270px; width: 16px; height: 16px; } 
.sprite-layout_delete{ background-position: -54px -288px; width: 16px; height: 16px; } 
.sprite-layout_edit, .sprite-overlays{ background-position: -54px -306px; width: 16px; height: 16px; } 
.sprite-layout_error{ background-position: -54px -324px; width: 16px; height: 16px; } 
.sprite-layout_header{ background-position: -54px -342px; width: 16px; height: 16px; } 
.sprite-layout_link{ background-position: -54px -360px; width: 16px; height: 16px; } 
.sprite-layout_sidebar{ background-position: -54px -378px; width: 16px; height: 16px; } 
.sprite-lightbulb{ background-position: -54px -396px; width: 16px; height: 16px; } 
.sprite-lightbulb_add{ background-position: -54px -414px; width: 16px; height: 16px; } 
.sprite-lightbulb_delete{ background-position: -54px -432px; width: 16px; height: 16px; } 
.sprite-lightbulb_off{ background-position: -54px -450px; width: 16px; height: 16px; } 
.sprite-lightning{ background-position: -54px -468px; width: 16px; height: 16px; } 
.sprite-lightning_add{ background-position: -54px -486px; width: 16px; height: 16px; } 
.sprite-lightning_delete{ background-position: -54px -504px; width: 16px; height: 16px; } 
.sprite-lightning_go{ background-position: -54px -522px; width: 16px; height: 16px; } 
.sprite-link{ background-position: -54px -540px; width: 16px; height: 16px; } 
.sprite-link_add{ background-position: -54px -558px; width: 16px; height: 16px; } 
.sprite-link_break{ background-position: -54px -576px; width: 16px; height: 16px; } 
.sprite-link_delete{ background-position: -54px -594px; width: 16px; height: 16px; } 
.sprite-link_edit{ background-position: -54px -612px; width: 16px; height: 16px; } 
.sprite-link_error{ background-position: -54px -630px; width: 16px; height: 16px; } 
.sprite-link_go{ background-position: -54px -648px; width: 16px; height: 16px; } 
.sprite-lock{ background-position: -54px -666px; width: 16px; height: 16px; } 
.sprite-lock_add{ background-position: -54px -684px; width: 16px; height: 16px; } 
.sprite-lock_break{ background-position: -54px -702px; width: 16px; height: 16px; } 
.sprite-lock_delete{ background-position: -54px -720px; width: 16px; height: 16px; } 
.sprite-lock_edit{ background-position: -54px -738px; width: 16px; height: 16px; } 
.sprite-lock_go{ background-position: -54px -756px; width: 16px; height: 16px; } 
.sprite-lock_open{ background-position: -54px -774px; width: 16px; height: 16px; } 
.sprite-male{ background-position: -54px -792px; width: 16px; height: 16px; } 
.sprite-map{ background-position: -54px -810px; width: 16px; height: 16px; } 
.sprite-map_add{ background-position: -54px -828px; width: 16px; height: 16px; } 
.sprite-map_delete{ background-position: -54px -846px; width: 16px; height: 16px; } 
.sprite-map_edit{ background-position: -54px -864px; width: 16px; height: 16px; } 
.sprite-map_go{ background-position: -54px -882px; width: 16px; height: 16px; } 
.sprite-map_magnify{ background-position: -54px -900px; width: 16px; height: 16px; } 
.sprite-monitor{ background-position: -54px -918px; width: 16px; height: 16px; } 
.sprite-monitor_add{ background-position: -54px -936px; width: 16px; height: 16px; } 
.sprite-monitor_delete{ background-position: -54px -954px; width: 16px; height: 16px; } 
.sprite-monitor_edit{ background-position: -54px -972px; width: 16px; height: 16px; } 
.sprite-monitor_error{ background-position: -54px -990px; width: 16px; height: 16px; } 
.sprite-monitor_go{ background-position: -54px -1008px; width: 16px; height: 16px; } 
.sprite-monitor_lightning{ background-position: -54px -1026px; width: 16px; height: 16px; } 
.sprite-monitor_link{ background-position: -54px -1044px; width: 16px; height: 16px; } 
.sprite-new{ background-position: -54px -1062px; width: 16px; height: 16px; } 
.sprite-newspaper{ background-position: -54px -1080px; width: 16px; height: 16px; } 
.sprite-newspaper_add{ background-position: -54px -1098px; width: 16px; height: 16px; } 
.sprite-newspaper_delete{ background-position: -54px -1116px; width: 16px; height: 16px; } 
.sprite-newspaper_go{ background-position: -54px -1134px; width: 16px; height: 16px; } 
.sprite-newspaper_link{ background-position: -54px -1152px; width: 16px; height: 16px; } 
.sprite-note{ background-position: -54px -1170px; width: 16px; height: 16px; } 
.sprite-note_add{ background-position: -54px -1188px; width: 16px; height: 16px; } 
.sprite-note_delete{ background-position: -54px -1206px; width: 16px; height: 16px; } 
.sprite-note_edit{ background-position: -54px -1224px; width: 16px; height: 16px; } 
.sprite-note_error{ background-position: -54px -1242px; width: 16px; height: 16px; } 
.sprite-note_go{ background-position: -54px -1260px; width: 16px; height: 16px; } 
.sprite-package{ background-position: -54px -1278px; width: 16px; height: 16px; } 
.sprite-package_add{ background-position: -54px -1296px; width: 16px; height: 16px; } 
.sprite-package_delete{ background-position: -54px -1314px; width: 16px; height: 16px; } 
.sprite-package_go{ background-position: -54px -1332px; width: 16px; height: 16px; } 
.sprite-package_green{ background-position: -54px -1350px; width: 16px; height: 16px; } 
.sprite-package_link{ background-position: -54px -1368px; width: 16px; height: 16px; } 
.sprite-page{ background-position: -54px -1386px; width: 16px; height: 16px; } 
.sprite-page_add{ background-position: -54px -1404px; width: 16px; height: 16px; } 
.sprite-page_attach{ background-position: -54px -1422px; width: 16px; height: 16px; } 
.sprite-page_code{ background-position: -54px -1440px; width: 16px; height: 16px; } 
.sprite-page_copy{ background-position: -54px -1458px; width: 16px; height: 16px; } 
.sprite-page_delete{ background-position: -54px -1476px; width: 16px; height: 16px; } 
.sprite-page_edit{ background-position: -54px -1494px; width: 16px; height: 16px; } 
.sprite-page_error{ background-position: -54px -1512px; width: 16px; height: 16px; } 
.sprite-page_excel{ background-position: -54px -1530px; width: 16px; height: 16px; } 
.sprite-page_find{ background-position: -54px -1548px; width: 16px; height: 16px; } 
.sprite-page_gear{ background-position: -54px -1566px; width: 16px; height: 16px; } 
.sprite-page_go{ background-position: -54px -1584px; width: 16px; height: 16px; } 
.sprite-page_green{ background-position: -54px -1602px; width: 16px; height: 16px; } 
.sprite-page_key{ background-position: -54px -1620px; width: 16px; height: 16px; } 
.sprite-page_lightning{ background-position: -54px -1638px; width: 16px; height: 16px; } 
.sprite-page_link{ background-position: -54px -1656px; width: 16px; height: 16px; } 
.sprite-page_paintbrush{ background-position: -54px -1674px; width: 16px; height: 16px; } 
.sprite-page_paste{ background-position: -54px -1692px; width: 16px; height: 16px; } 
.sprite-page_red{ background-position: -54px -1710px; width: 16px; height: 16px; } 
.sprite-page_refresh{ background-position: -54px -1728px; width: 16px; height: 16px; } 
.sprite-page_save{ background-position: -54px -1746px; width: 16px; height: 16px; } 
.sprite-page_white{ background-position: -54px -1764px; width: 16px; height: 16px; } 
.sprite-page_white_acrobat{ background-position: -54px -1782px; width: 16px; height: 16px; } 
.sprite-page_white_add{ background-position: -54px -1800px; width: 16px; height: 16px; } 
.sprite-page_white_c{ background-position: -54px -1818px; width: 16px; height: 16px; } 
.sprite-page_white_camera{ background-position: -54px -1836px; width: 16px; height: 16px; } 
.sprite-page_white_cd{ background-position: -54px -1854px; width: 16px; height: 16px; } 
.sprite-page_white_compressed{ background-position: -54px -1872px; width: 16px; height: 16px; } 
.sprite-page_white_copy{ background-position: -54px -1890px; width: 16px; height: 16px; } 
.sprite-page_white_cup{ background-position: -54px -1908px; width: 16px; height: 16px; } 
.sprite-page_white_database{ background-position: -54px -1926px; width: 16px; height: 16px; } 
.sprite-page_white_delete{ background-position: -54px -1944px; width: 16px; height: 16px; } 
.sprite-page_white_dvd{ background-position: -54px -1962px; width: 16px; height: 16px; } 
.sprite-page_white_edit{ background-position: -54px -1980px; width: 16px; height: 16px; } 
.sprite-page_white_error{ background-position: -72px 0; width: 16px; height: 16px; } 
.sprite-page_white_excel{ background-position: -72px -18px; width: 16px; height: 16px; } 
.sprite-page_white_find{ background-position: -72px -36px; width: 16px; height: 16px; } 
.sprite-page_white_gear{ background-position: -72px -54px; width: 16px; height: 16px; } 
.sprite-page_white_get{ background-position: -72px -72px; width: 16px; height: 16px; } 
.sprite-page_white_go{ background-position: -72px -90px; width: 16px; height: 16px; } 
.sprite-page_white_horizontal{ background-position: -72px -108px; width: 16px; height: 16px; } 
.sprite-page_white_key{ background-position: -72px -126px; width: 16px; height: 16px; } 
.sprite-page_white_lightning{ background-position: -72px -144px; width: 16px; height: 16px; } 
.sprite-page_white_link{ background-position: -72px -162px; width: 16px; height: 16px; } 
.sprite-page_white_magnify{ background-position: -72px -180px; width: 16px; height: 16px; } 
.sprite-page_white_medal{ background-position: -72px -198px; width: 16px; height: 16px; } 
.sprite-page_white_office{ background-position: -72px -216px; width: 16px; height: 16px; } 
.sprite-page_white_paint{ background-position: -72px -234px; width: 16px; height: 16px; } 
.sprite-page_white_paintbrush{ background-position: -72px -252px; width: 16px; height: 16px; } 
.sprite-page_white_paste{ background-position: -72px -270px; width: 16px; height: 16px; } 
.sprite-page_white_php{ background-position: -72px -288px; width: 16px; height: 16px; } 
.sprite-page_white_picture{ background-position: -72px -306px; width: 16px; height: 16px; } 
.sprite-page_white_powerpoint{ background-position: -72px -324px; width: 16px; height: 16px; } 
.sprite-page_white_put{ background-position: -72px -342px; width: 16px; height: 16px; } 
.sprite-page_white_stack{ background-position: -72px -360px; width: 16px; height: 16px; } 
.sprite-page_white_star{ background-position: -72px -378px; width: 16px; height: 16px; } 
.sprite-page_white_swoosh{ background-position: -72px -396px; width: 16px; height: 16px; } 
.sprite-page_white_text{ background-position: -72px -414px; width: 16px; height: 16px; } 
.sprite-page_white_text_width{ background-position: -72px -432px; width: 16px; height: 16px; } 
.sprite-page_white_width{ background-position: -72px -450px; width: 16px; height: 16px; } 
.sprite-page_white_word{ background-position: -72px -468px; width: 16px; height: 16px; } 
.sprite-page_white_world{ background-position: -72px -486px; width: 16px; height: 16px; } 
.sprite-page_white_wrench{ background-position: -72px -504px; width: 16px; height: 16px; } 
.sprite-page_white_zip{ background-position: -72px -522px; width: 16px; height: 16px; } 
.sprite-page_word{ background-position: -72px -540px; width: 16px; height: 16px; } 
.sprite-page_world{ background-position: -72px -558px; width: 16px; height: 16px; } 
.sprite-paste_plain{ background-position: -72px -576px; width: 16px; height: 16px; } 
.sprite-paste_word{ background-position: -72px -594px; width: 16px; height: 16px; } 
.sprite-pencil{ background-position: -72px -612px; width: 16px; height: 16px; } 
.sprite-pencil_add{ background-position: -72px -630px; width: 16px; height: 16px; } 
.sprite-pencil_delete{ background-position: -72px -648px; width: 16px; height: 16px; } 
.sprite-pencil_go{ background-position: -72px -666px; width: 16px; height: 16px; } 
.sprite-phone{ background-position: -72px -684px; width: 16px; height: 16px; } 
.sprite-phone_add{ background-position: -72px -702px; width: 16px; height: 16px; } 
.sprite-phone_delete{ background-position: -72px -720px; width: 16px; height: 16px; } 
.sprite-phone_sound{ background-position: -72px -738px; width: 16px; height: 16px; } 
.sprite-photo{ background-position: -72px -756px; width: 16px; height: 16px; } 
.sprite-photo_add{ background-position: -72px -774px; width: 16px; height: 16px; } 
.sprite-photo_delete{ background-position: -72px -792px; width: 16px; height: 16px; } 
.sprite-photo_link{ background-position: -72px -810px; width: 16px; height: 16px; } 
.sprite-photos{ background-position: -72px -828px; width: 16px; height: 16px; } 
.sprite-picture{ background-position: -72px -846px; width: 16px; height: 16px; } 
.sprite-picture_add{ background-position: -72px -864px; width: 16px; height: 16px; } 
.sprite-picture_delete{ background-position: -72px -882px; width: 16px; height: 16px; } 
.sprite-picture_edit{ background-position: -72px -900px; width: 16px; height: 16px; } 
.sprite-picture_empty{ background-position: -72px -918px; width: 16px; height: 16px; } 
.sprite-picture_error{ background-position: -72px -936px; width: 16px; height: 16px; } 
.sprite-picture_go{ background-position: -72px -954px; width: 16px; height: 16px; } 
.sprite-picture_key{ background-position: -72px -972px; width: 16px; height: 16px; } 
.sprite-picture_link{ background-position: -72px -990px; width: 16px; height: 16px; } 
.sprite-picture_save{ background-position: -72px -1008px; width: 16px; height: 16px; } 
.sprite-pictures{ background-position: -72px -1026px; width: 16px; height: 16px; } 
.sprite-pill{ background-position: -72px -1044px; width: 16px; height: 16px; } 
.sprite-plugin{ background-position: -72px -1062px; width: 16px; height: 16px; } 
.sprite-plugin_add{ background-position: -72px -1080px; width: 16px; height: 16px; } 
.sprite-plugin_delete{ background-position: -72px -1098px; width: 16px; height: 16px; } 
.sprite-plugin_disabled{ background-position: -72px -1116px; width: 16px; height: 16px; } 
.sprite-plugin_edit{ background-position: -72px -1134px; width: 16px; height: 16px; } 
.sprite-plugin_error{ background-position: -72px -1152px; width: 16px; height: 16px; } 
.sprite-plugin_go{ background-position: -72px -1170px; width: 16px; height: 16px; } 
.sprite-plugin_link{ background-position: -72px -1188px; width: 16px; height: 16px; } 
.sprite-printer{ background-position: -72px -1206px; width: 16px; height: 16px; } 
.sprite-printer_add{ background-position: -72px -1224px; width: 16px; height: 16px; } 
.sprite-printer_delete{ background-position: -72px -1242px; width: 16px; height: 16px; } 
.sprite-printer_empty{ background-position: -72px -1260px; width: 16px; height: 16px; } 
.sprite-printer_error{ background-position: -72px -1278px; width: 16px; height: 16px; } 
.sprite-report{ background-position: -72px -1296px; width: 16px; height: 16px; } 
.sprite-report_add{ background-position: -72px -1314px; width: 16px; height: 16px; } 
.sprite-report_delete{ background-position: -72px -1332px; width: 16px; height: 16px; } 
.sprite-report_disk{ background-position: -72px -1350px; width: 16px; height: 16px; } 
.sprite-report_edit{ background-position: -72px -1368px; width: 16px; height: 16px; } 
.sprite-report_go{ background-position: -72px -1386px; width: 16px; height: 16px; } 
.sprite-report_key{ background-position: -72px -1404px; width: 16px; height: 16px; } 
.sprite-report_link{ background-position: -72px -1422px; width: 16px; height: 16px; } 
.sprite-report_magnify{ background-position: -72px -1440px; width: 16px; height: 16px; } 
.sprite-report_picture{ background-position: -72px -1458px; width: 16px; height: 16px; } 
.sprite-report_user{ background-position: -72px -1476px; width: 16px; height: 16px; } 
.sprite-report_word{ background-position: -72px -1494px; width: 16px; height: 16px; } 
.sprite-resultset_first{ background-position: -72px -1512px; width: 16px; height: 16px; } 
.sprite-resultset_last{ background-position: -72px -1530px; width: 16px; height: 16px; } 
.sprite-resultset_next{ background-position: -72px -1548px; width: 16px; height: 16px; } 
.sprite-resultset_previous{ background-position: -72px -1566px; width: 16px; height: 16px; } 
.sprite-rosette{ background-position: -72px -1584px; width: 16px; height: 16px; } 
.sprite-script{ background-position: -72px -1602px; width: 16px; height: 16px; } 
.sprite-script_add{ background-position: -72px -1620px; width: 16px; height: 16px; } 
.sprite-script_code{ background-position: -72px -1638px; width: 16px; height: 16px; } 
.sprite-script_code_red{ background-position: -72px -1656px; width: 16px; height: 16px; } 
.sprite-script_delete{ background-position: -72px -1674px; width: 16px; height: 16px; } 
.sprite-script_edit{ background-position: -72px -1692px; width: 16px; height: 16px; } 
.sprite-script_error{ background-position: -72px -1710px; width: 16px; height: 16px; } 
.sprite-script_gear{ background-position: -72px -1728px; width: 16px; height: 16px; } 
.sprite-script_go{ background-position: -72px -1746px; width: 16px; height: 16px; } 
.sprite-script_key{ background-position: -72px -1764px; width: 16px; height: 16px; } 
.sprite-script_lightning{ background-position: -72px -1782px; width: 16px; height: 16px; } 
.sprite-script_link{ background-position: -72px -1800px; width: 16px; height: 16px; } 
.sprite-script_palette{ background-position: -72px -1818px; width: 16px; height: 16px; } 
.sprite-script_save{ background-position: -72px -1836px; width: 16px; height: 16px; } 
.sprite-server{ background-position: -72px -1854px; width: 16px; height: 16px; } 
.sprite-server_add{ background-position: -72px -1872px; width: 16px; height: 16px; } 
.sprite-server_compressed{ background-position: -72px -1890px; width: 16px; height: 16px; } 
.sprite-server_connect{ background-position: -72px -1908px; width: 16px; height: 16px; } 
.sprite-server_database{ background-position: -72px -1926px; width: 16px; height: 16px; } 
.sprite-server_delete{ background-position: -72px -1944px; width: 16px; height: 16px; } 
.sprite-server_edit{ background-position: -72px -1962px; width: 16px; height: 16px; } 
.sprite-server_error{ background-position: -72px -1980px; width: 16px; height: 16px; } 
.sprite-server_go{ background-position: -90px 0; width: 16px; height: 16px; } 
.sprite-server_link{ background-position: -90px -18px; width: 16px; height: 16px; } 
.sprite-sound{ background-position: -90px -36px; width: 16px; height: 16px; } 
.sprite-sound_mute{ background-position: -90px -54px; width: 16px; height: 16px; } 
.sprite-spellcheck{ background-position: -90px -72px; width: 16px; height: 16px; } 
.sprite-star{ background-position: -90px -90px; width: 16px; height: 16px; } 
.sprite-status_away{ background-position: -90px -108px; width: 16px; height: 16px; } 
.sprite-status_busy{ background-position: -90px -126px; width: 16px; height: 16px; } 
.sprite-status_offline{ background-position: -90px -144px; width: 16px; height: 16px; } 
.sprite-status_online{ background-position: -90px -162px; width: 16px; height: 16px; } 
.sprite-stop{ background-position: -90px -180px; width: 16px; height: 16px; } 
.sprite-table{ background-position: -90px -198px; width: 16px; height: 16px; } 
.sprite-table_add{ background-position: -90px -216px; width: 16px; height: 16px; } 
.sprite-table_delete{ background-position: -90px -234px; width: 16px; height: 16px; } 
.sprite-table_edit{ background-position: -90px -252px; width: 16px; height: 16px; } 
.sprite-table_error{ background-position: -90px -270px; width: 16px; height: 16px; } 
.sprite-table_gear{ background-position: -90px -288px; width: 16px; height: 16px; } 
.sprite-table_go{ background-position: -90px -306px; width: 16px; height: 16px; } 
.sprite-table_key{ background-position: -90px -324px; width: 16px; height: 16px; } 
.sprite-table_lightning{ background-position: -90px -342px; width: 16px; height: 16px; } 
.sprite-table_link{ background-position: -90px -360px; width: 16px; height: 16px; } 
.sprite-table_multiple{ background-position: -90px -378px; width: 16px; height: 16px; } 
.sprite-table_refresh{ background-position: -90px -396px; width: 16px; height: 16px; } 
.sprite-table_row_delete{ background-position: -90px -414px; width: 16px; height: 16px; } 
.sprite-table_row_insert{ background-position: -90px -432px; width: 16px; height: 16px; } 
.sprite-table_save{ background-position: -90px -450px; width: 16px; height: 16px; } 
.sprite-table_sort{ background-position: -90px -468px; width: 16px; height: 16px; } 
.sprite-tag_blue{ background-position: -90px -486px; width: 16px; height: 16px; } 
.sprite-tag_blue_add{ background-position: -90px -504px; width: 16px; height: 16px; } 
.sprite-tag_blue_delete{ background-position: -90px -522px; width: 16px; height: 16px; } 
.sprite-tag_blue_edit{ background-position: -90px -540px; width: 16px; height: 16px; } 
.sprite-telephone{ background-position: -90px -558px; width: 16px; height: 16px; } 
.sprite-telephone_add{ background-position: -90px -576px; width: 16px; height: 16px; } 
.sprite-telephone_delete{ background-position: -90px -594px; width: 16px; height: 16px; } 
.sprite-telephone_edit{ background-position: -90px -612px; width: 16px; height: 16px; } 
.sprite-telephone_error{ background-position: -90px -630px; width: 16px; height: 16px; } 
.sprite-telephone_go{ background-position: -90px -648px; width: 16px; height: 16px; } 
.sprite-telephone_key{ background-position: -90px -666px; width: 16px; height: 16px; } 
.sprite-telephone_link{ background-position: -90px -684px; width: 16px; height: 16px; } 
.sprite-text_uppercase{ background-position: -90px -702px; width: 16px; height: 16px; } 
.sprite-textfield{ background-position: -90px -720px; width: 16px; height: 16px; } 
.sprite-textfield_add{ background-position: -90px -738px; width: 16px; height: 16px; } 
.sprite-textfield_delete{ background-position: -90px -756px; width: 16px; height: 16px; } 
.sprite-textfield_key{ background-position: -90px -774px; width: 16px; height: 16px; } 
.sprite-textfield_rename{ background-position: -90px -792px; width: 16px; height: 16px; } 
.sprite-tick{ background-position: -90px -810px; width: 16px; height: 16px; } 
.sprite-time{ background-position: -90px -828px; width: 16px; height: 16px; } 
.sprite-time_add{ background-position: -90px -846px; width: 16px; height: 16px; } 
.sprite-time_delete{ background-position: -90px -864px; width: 16px; height: 16px; } 
.sprite-time_go{ background-position: -90px -882px; width: 16px; height: 16px; } 
.sprite-timeline_marker{ background-position: -90px -900px; width: 16px; height: 16px; } 
.sprite-user{ background-position: -90px -918px; width: 16px; height: 16px; } 
.sprite-user_add{ background-position: -90px -936px; width: 16px; height: 16px; } 
.sprite-user_comment{ background-position: -90px -954px; width: 16px; height: 16px; } 
.sprite-user_delete{ background-position: -90px -972px; width: 16px; height: 16px; } 
.sprite-user_edit{ background-position: -90px -990px; width: 16px; height: 16px; } 
.sprite-user_female{ background-position: -90px -1008px; width: 16px; height: 16px; } 
.sprite-user_go{ background-position: -90px -1026px; width: 16px; height: 16px; } 
.sprite-vcard{ background-position: -90px -1044px; width: 16px; height: 16px; } 
.sprite-vcard_add{ background-position: -90px -1062px; width: 16px; height: 16px; } 
.sprite-vcard_delete{ background-position: -90px -1080px; width: 16px; height: 16px; } 
.sprite-vcard_edit{ background-position: -90px -1098px; width: 16px; height: 16px; } 
.sprite-world{ background-position: -90px -1116px; width: 16px; height: 16px; } 
.sprite-wrench{ background-position: -90px -1134px; width: 16px; height: 16px; } 
.sprite-zoom{ background-position: -90px -1152px; width: 16px; height: 16px; } 
.sprite-zoom_in{ background-position: -90px -1170px; width: 16px; height: 16px; } 
.sprite-zoom_out{ background-position: -90px -1188px; width: 16px; height: 16px; } 
