<footer>
    <div class='container'>
        <ul class="list-inline pull-left">
            <li><a href="https://github.com/SDIS62" class="blog">SDIS62 - R&D</a></li>
            <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01j6rZu6rU6BWonRhHd2LQLw==&c=DKhjgEaj941xmMzeFNaqJPyL36uxJsKNPySspEpO7tk=">Contact</a></li>
            <li><a href="https://github.com/SDIS62/prevarisc/blob/master/LICENSE.md">Licence</a></li>
        </ul>
        <p class="pull-right">2014 - SDIS62 - R&D</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
