<?xml version="1.0" encoding="utf-8"?>
<router>

    <api_1_0 type="Zend_Controller_Router_Route_Static">
        <route>/api/1.0</route>
        <defaults module="api" action="index" />
        <chains>

            <!-- Établissement -->
            <etablissement type="Zend_Controller_Router_Route">
                <route>etablissement</route>
                <defaults controller="etablissement" />
                <chains>
                    <get type="Zend_Controller_Router_Route">
                        <route></route>
                        <defaults method="get" />
                    </get>
                    <historique type="Zend_Controller_Router_Route">
                        <route>historique</route>
                        <defaults method="getHistorique" />
                    </historique>
                    <descriptifs type="Zend_Controller_Router_Route">
                        <route>descriptifs</route>
                        <defaults method="getDescriptifs" />
                    </descriptifs>
                    <textes_applicables type="Zend_Controller_Router_Route">
                        <route>textes_applicables</route>
                        <defaults method="getTextesApplicables" />
                    </textes_applicables>
                    <pieces_jointes type="Zend_Controller_Router_Route">
                        <route>pieces_jointes</route>
                        <defaults method="getPiecesJointes" />
                    </pieces_jointes>
                    <pieces_jointes_content type="Zend_Controller_Router_Route">
                        <route>pieces_jointes_content</route>
                        <defaults method="getPiecesJointesContent" />
                    </pieces_jointes_content>
                    <contacts type="Zend_Controller_Router_Route">
                        <route>contacts</route>
                        <defaults method="getContacts" />
                    </contacts>
                    <dossiers type="Zend_Controller_Router_Route">
                        <route>dossiers</route>
                        <defaults method="getDossiers" />
                    </dossiers>
                    <defaults_values type="Zend_Controller_Router_Route">
                        <route>defaults_values</route>
                        <defaults method="getDefaultValues" />
                    </defaults_values>
                </chains>
            </etablissement>

            <!-- Recherche -->
            <search type="Zend_Controller_Router_Route">
                <route>search</route>
                <defaults controller="search" />
                <chains>
                    <etablissements type="Zend_Controller_Router_Route">
                        <route>etablissements</route>
                        <defaults method="etablissements" />
                    </etablissements>
                    <dossiers type="Zend_Controller_Router_Route">
                        <route>dossiers</route>
                        <defaults method="dossiers" />
                    </dossiers>
                    <users type="Zend_Controller_Router_Route">
                        <route>users</route>
                        <defaults method="users" />
                    </users>
                </chains>
            </search>

            <!-- Contacts -->
            <contacts type="Zend_Controller_Router_Route">
                <route>contacts</route>
                <defaults controller="contact" />
                <chains>
                    <get type="Zend_Controller_Router_Route">
                        <route></route>
                        <defaults method="get" />
                    </get>
                </chains>
            </contacts>

            <!-- Adresse -->
            <adresse type="Zend_Controller_Router_Route">
                <route>adresse</route>
                <defaults controller="adresse" />
                <chains>
                    <get type="Zend_Controller_Router_Route">
                        <route>get_communes</route>
                        <defaults method="get" />
                    </get>
                    <get_types_voie_par_ville type="Zend_Controller_Router_Route">
                        <route>get_types_voie_par_ville</route>
                        <defaults method="getTypesVoieParVille" />
                    </get_types_voie_par_ville>
                    <get_voies type="Zend_Controller_Router_Route">
                        <route>get_voies</route>
                        <defaults method="getVoies" />
                    </get_voies>
                </chains>
            </adresse>

            <!-- Test -->
            <test type="Zend_Controller_Router_Route">
                <route>test</route>
                <defaults controller="test" method="test" />
            </test>
             <!-- login -->
            <login type="Zend_Controller_Router_Route">
                <route>login</route>
                <defaults controller="login" method="login" />
            </login>
            <!-- dossier -->
            <dossier type="Zend_Controller_Router_Route">
                <route>dossier</route>
                <defaults controller="dossier" />
                <chains>
                    <get type="Zend_Controller_Router_Route">
                        <route></route>
                        <defaults method="get" />
                    </get>
                    <pieces_jointes type="Zend_Controller_Router_Route">
                        <route>pieces_jointes</route>
                        <defaults method="getPiecesJointes" />
                    </pieces_jointes>
                    <pieces_jointes_content type="Zend_Controller_Router_Route">
                        <route>pieces_jointes_content</route>
                        <defaults method="getPiecesJointesContent" />
                    </pieces_jointes_content>
                    <contacts type="Zend_Controller_Router_Route">
                        <route>contacts</route>
                        <defaults method="getContacts" />
                    </contacts>
                </chains>
            </dossier>
            
            <!-- user -->
            <user type="Zend_Controller_Router_Route">
                <route>user</route>
                <defaults controller="user" />
                <chains>
                    <get type="Zend_Controller_Router_Route">
                        <route></route>
                        <defaults method="get" />
                    </get>
                    <preferences type="Zend_Controller_Router_Route">
                        <route>preferences</route>
                        <defaults method="getPreferences" />
                    </preferences>
                </chains>
            </user>

            <!-- Calendar -->
            <calendar type="Zend_Controller_Router_Route">
                <route>calendar</route>
                <defaults controller="calendar" />
                <chains>
                    <get type="Zend_Controller_Router_Route">
                        <route></route>
                        <defaults method="sync" />
                    </get>
                </chains>
            </calendar>
            
        </chains>
    </api_1_0>

</router>