<?xml version="1.0"?>
<config>
    <routes>
        <etablissement  type="Zend_Controller_Router_Route">
            <route>etablissement/:id</route>
            <defaults>
                <controller>etablissement</controller>
                <action>index</action>
            </defaults>
            <reqs>
				<id>\d+</id>
			</reqs>
        </etablissement>
    </routes>
</config>